$black: #14171A;
$dark-gray: #657786;
$light-gray: #AAB8C2;
$dark-blue: #1B5299;
$light-blue:  #1da1f2;

body{
    background-color: $black;
    color:white;
}

.jumbotron{
    background-color:$light-blue;
}

img{

}